.btn_red {
    float: right;
    a {
        width: 100px;
        height: 40px;
        border-top-left-radius: 20%;
        border-top-right-radius: 20%;
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
        text-align: center;
        display: block;
        background-color: #8C181B;
        text-decoration: none;
        color: white;
        font-size: larger;
    }
    a>b {
        position: relative;
        top: 8px;
    }
}